<div class="certifications home-section" id="certifications">
  <h2 class="home-section-header">Certifications</h2>
  <div class="certification">
    <div class="info">
      <div class="name"><a href="https://www.coursera.org/professional-certificates/google-data-analytics" target="_blank">Google Data Analytics Professional</a></div>
      <div class="issuer">
        <span class="google-blue">G</span><span class="google-red">o</span><span class="google-yellow">o</span><span class="google-blue">g</span><span class="google-green">l</span><span class="google-red">e</span>
      </div>
    </div>
    <div class="details">
      <p>
        Completed the Google Data Analytics Professional Certificate, gaining hands-on experience across the entire data analytics process.
      </p>
      <ul>
        <li>Practiced full-cycle analytics: defining business questions, cleaning and transforming data, analyzing with SQL and R, and visualizing results.</li>
        <li>Strengthened skills in data storytelling and analytical thinking.</li>
        <li>Built dashboards and reports using Tableau, spreadsheets, and other visualization tools.</li>
        <li>Developed confidence in translating raw data into clear, actionable insights for decision-making.</li>
      </ul>
    </div>
  </div>

  <div class="certification">
    <div class="info">
      <div class="name"><a href="https://www.coursera.org/professional-certificates/microsoft-excel-skills" target="_blank">Microsoft Excel Professional</a></div>
      <div class="issuer">
        <div class="microsoft-logo">
          <div class="square-wrapper">
            <div class="square red"></div>
            <div class="square green"></div>
            <div class="square blue"></div>
            <div class="square yellow"></div>
          </div>
          <span class="microsoft-grey">Microsoft</span>
        </div>
        
      </div>
    </div>
    <div class="details">
      <p>
        Earned the Microsoft Excel Professional Certificate, advancing my expertise in data analysis, automation, and visualization within Excel.
      </p>
      <ul>
        <li>Mastered core and advanced Excel functions, including formulas, pivot tables, and data cleaning techniques.</li>
        <li>Applied macros and VBA to automate tasks and streamline workflows.</li>
        <li>Designed and built interactive dashboards for dynamic data reporting.</li>
        <li>Gained hands-on experience structuring, analyzing, and visualizing business data efficiently in Excel.</li>
      </ul>
    </div>
  </div>
</div>