<div class="education home-section" id="education">
  <h2 class="home-section-header">Education</h2>
  <div class="degree">
    <div class="info">
      <div class="row">
        <div class="program">B.A. in Computing and Informatics</div>
        <div class="gpa">3.8 GPA</div>
      </div>
      <div class="row">
        <div class="institution">Rowan University</div>
        <div class="honors">magna cum laude</div>
      </div>
    </div>
    <div class="details">
      <p>
        <b>Computing and Informatics</b> is a general information technology program that exposes students to a wide range of computing topics. 
        Coursework included software engineering fundamentals, database design and administration, networking, cybersecurity, and data analysis.
      </p>

      <p>Highlights of my education include:</p>
      <ul>
        <li>
          Leading a small team of programmers through a semester long, multi-phase simulated work experience, culminating in the delivery of a fully function web application.
        </li>
        <li>
          Collecting data on supermarket chains in New Jersey to examine their geographic distribution relative to municipality-level socioeconomic indicators.
        </li>
        <li>
          Applying R programming skills in an Advanced Programming Workshop to perform data cleaning, analysis, and visualization. 
        </li>
        <li>
          Designing and implementing a relational database schema to integrate and map information from four distinct REST APIs.
        </li>
      </ul>
    </div>
  </div>
</div>