{% if page.metadata == true %}
<div class="metadata-wrapper">
  <div class="metadata {% if page.metadata_grow == true %}grow{% endif %}">

    {% comment %} Provide a link to the series page. {% endcomment %}
    {% for series in site.data.series %}

      {% assign found = false %}

      {% for series_post_url in series['series']['posts'] %}
        {% if page.url == series_post_url['url'] %}
          <div class="metadata-series">      
            Series: <a href="{{ series['series']['url'] }}"> {{ series['series']['name'] }} </a> 

          </div>
          {% assign found = true %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if found %} 
        {% break %} 
      {% endif %}
    {% endfor %}

    {% comment %} Provide a links to the categories the post belongs to. {% endcomment %}
    {% assign category_size = page.categories | size %}
    {% if category_size > 0%}
    <div class="metadata-header">Categories</div>
    <ul class="metadata-categories">
      {% for category in page.categories %}
      <li><a href="/categories/{{ category | downcase | replace: ' ', '-' }}">[{{category}}]</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% comment %} Show related links. {% endcomment %}
    {% assign related_links_size = page.related_links | size %}
    {% if related_links_size > 0 %}
    <div class="metadata-header">Related/Useful Links</div>
    <ul class="metadata-related-links">
      {% for related_link in page.related_links %}
      <li><a href="{{ related_link }}" target="_blank">{{ related_link }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% comment %} Notify the user that the page is a living document {% endcomment %}
    {% if page.living_document %}
    <div class="metadata-series padding-bottom-15">      
     This is a <a href="https://en.wikipedia.org/wiki/Living_document" target="_blank">living document.</a> 
    </div>
    {% endif %}

  </div>
</div>
{% endif %}