{% if include.is_home == false %}
  <ul class="metadata">
    <li class="info">
      {% if page.updated %}
        updated: {{ page.updated | date: "%B %d, %Y"}}

      {% else %}
        {{ page.date | date: "%B %d, %Y"}}
      {% endif %}
    </li>

    {% if page.display_time %}
    <li class="info" style="color: #636363;">
      {{ page.content | number_of_words }} words
    </li>
    {% endif %}

    {% for category in page.categories %} 
    {% assign url = category | replace: " ", "-" %}
      <li class="category"><a href="/categories/{{ url }}">[{{ category }}]</a></li>
    {% endfor %}
  </ul>
{% else %}
  <ul class="metadata">
    <li class="info">
      {% if post.updated %}
        updated: {{ post.updated | date: "%B %d, %Y"}}

      {% else %}
        {{ post.date | date: "%B %d, %Y"}}
      {% endif %}
    </li>

    {% if post.display_time %}
    <li class="info" style="color: #636363;">
      {{ post.content | number_of_words }} words
    </li>
    {% endif %}
    
    {% for category in post.categories %} 
    {% assign url = category | replace: " ", "-" %}
      <li class="category"><a href="/categories/{{ url }}">[{{ category }}]</a></li>
    {% endfor %}
  </ul>
{% endif %}