$category-title-size: 2em;
$category-post-size: 1em;
$category-cat-size: 1em;

.category-wrapper
{
  font-family: $body-font;
  margin-top: 30px;
  margin-bottom: 80px;
}

.category-wrapper .category-title
{  
  font-size: $category-title-size;
  font-weight: 700;
}

.category-wrapper .category-title-small
{  
  font-size: $h2-size;
  font-weight: 700;
}


.category-wrapper ul.category-post-list
{
  font-size: $category-post-size;
  list-style: none;

  padding: 0px;
}

.category-wrapper ul.category-post-list li
{
  font-weight: 400;
  margin-bottom: 15px;
}

.category-wrapper ul.category-post-list li a:link,
.category-wrapper ul.category-post-list li a:active,
.category-wrapper ul.category-post-list li a:visited
{
  color: $link-color;
}

.category-wrapper ul.category-post-list li a:hover
{
  color: $link-hover;
}

ul.category-list
{
  font-size: $category-cat-size;
  margin-bottom: 30px;
  list-style: none;
  padding-left: 0px;
}

ul.category-list li
{
  display: inline-block;
  padding-right: 20px;
}

ul.category-list li a:link,
ul.category-list li a:active,
ul.category-list li a:visited
{
  color: $link-color;
}

ul.category-list li a:hover
{
  color: $link-hover;
}
