
$bottom-border-color: #cecece;

$h1-font-size: 1.5rem;
$h2-font-size: 1.35rem;
$h3-font-size: 1rem;
$h4-font-size: 1rem;
$h5-font-size: 0.85rem;
$h6-font-size: 0.75rem;

$link-base: #0d54c1;
$link-hover: #94a7c3;

$date-color: #5a5a5a;

$left-spacing: 20px;

.content-wrapper
{
  margin-bottom: $unit-ten;
}

.content-wrapper .post-wrapper
{
  margin-bottom: $unit-eight;
  border-bottom: 1px solid $bottom-border-color;
}


.content-wrapper + .content-wrapper
{
  margin-top: $unit-four;
}

.content-wrapper .metadata .date
{
  display: inline;
  color: $date-color;
  text-align: left;

  width: 100%;
  
  margin-bottom: $unit-one;
  margin-right: 5px;
}

.content-wrapper .metadata .primary-category,
.content-wrapper .metadata .secondary-category
{
  display: inline;
  padding-right: 5px;
}

.content-wrapper h1.title
{
  margin-bottom: $unit-quarter;
}

.content-wrapper h1.title a:link,
.content-wrapper h1.title a:active,
.content-wrapper h1.title a:visited,
.content-wrapper h1.title a:hover
{
  color: #000;
  text-decoration: none;
}

.content-wrapper h1 
{ 
  font-size: $h1-font-size; 
  margin-bottom: $unit-quarter;
}

.content-wrapper h2 
{ 
  font-size: $h2-font-size; 
  margin-top: $unit-three;
  margin-bottom: $unit-quarter;
}

.content-wrapper h3 
{ 
  font-size: $h3-font-size; 
  margin-top: $unit-two;
  margin-bottom: $unit-quarter;
}

.content-wrapper h4 
{ 
  font-size: $h4-font-size; 
  margin-top: $unit-one;
  margin-bottom: $unit-quarter;
}

.content-wrapper h5 
{ 
  font-size: $h5-font-size; 
  margin-top: $unit-one;
  margin-bottom: $unit-quarter;
}

.content-wrapper h6 
{ 
  font-size: $h6-font-size; 
  margin-top: $unit-one;
  margin-bottom: $unit-quarter;
}

.content-wrapper h1 + h2 { margin-top: $unit-one;}
.content-wrapper h2 + h3 {margin-top: $unit-half;}

.content-wrapper h1 + p,
.content-wrapper h2 + p,
.content-wrapper h3 + p,
.content-wrapper h4 + p,
.content-wrapper h5 + p,
.content-wrapper h6 + p
{
  margin-top: 0;
}

.content-wrapper p
{
  margin-bottom: $unit-one;
}

.content-wrapper a:link,
.content-wrapper a:active,
.content-wrapper a:visited
{
  color: $link-base;
  text-decoration: underline;
}

.content-wrapper a:hover
{
  color: $link-hover;
}

.content-wrapper ul, ol
{
  padding-left: $left-spacing;
  margin-bottom: $unit-one;
}

.content-wrapper ul li,
.content-wrapper ol li
{
  margin-bottom: $unit-quarter;
}

.content-wrapper dl
{
  margin-bottom: $unit-one
}

.content-wrapper dl dt
{
  font-weight: 700;
}

.content-wrapper dl dd + dt
{
  margin-top: $unit-half;
}

.content-wrapper dl dd
{
  margin-left: $left-spacing;
}

.content-wrapper ul.featured
{
  list-style: none;
  padding-left: 0px;

  margin-top: $unit-two;
  margin-bottom: $unit-two;
}

.content-wrapper ul.category-list
{
  list-style: none;
  padding-left: 0px;
}

.content-wrapper ul.category-list li
{
  margin-bottom: $unit-one;
}

.content-wrapper ul.weblog-list 
{
  padding-left: 20px;
}

.content-wrapper ul.weblog-list li
{
  margin-bottom: $unit-half;
}

.content-wrapper blockquote
{
  font-style: italic;

  border-left: 3px solid #d2d2d2;

  padding-left: $left-spacing;
  padding-right: $left-spacing;

  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: $unit-one;
}

.content-wrapper blockquote cite
{
  display: block;
  text-align: right;
  margin-top: $unit-quarter;
}

.content-wrapper blockquote cite::before
{
  content: "- "
}

.content-wrapper figure
{
  margin-bottom: $unit-one;
}

.content-wrapper table.standard-table
{
  border: 1px solid #cecece;
  border-spacing: 0px;
  text-align: left;
  margin-bottom: $unit-one;
  width: 100%;
}

.content-wrapper table.standard-table thead
{
  background-color: #ececec;
}

.content-wrapper table.standard-table th,
.content-wrapper table.standard-table td
{
  padding: 5px;
  border: 1px solid #ececec;

}

.content-wrapper table.tracker
{
  border-spacing: 0px;
  text-align: left;
  width: 100%;
}

.content-wrapper table.tracker thead
{
  background-color: #bbbbbb;
}

.content-wrapper table.tracker th,
.content-wrapper table.tracker td
{
  border: 1px solid #dfdfdf;
  padding-left: 5px;
}