$date-color: #5a5a5a;

$h1-font-size: 1.75rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.0rem;
$h5-font-size: 0.9rem;
$h6-font-size: 0.85rem;

$header-color: #000;

$h2-line-color: #9f9f9f;

$link-base: #0d54c1;
$link-hover: #94a7c3;

$figcaption-color: #9d9d9d;

$bottom-border-color: #cecece;
$left-spacing: 20px;

$metadata-date-color: #232323;

.content-wrapper
{
    margin-bottom: $unit-three;
}

.content-wrapper + .content-wrapper
{
    margin-top: $unit-four;
}

.content
{
    border-bottom: 1px dotted #000;
}

.content .metadata
{
    margin-bottom: $unit-quarter;
}

.content .metadata .item
{
    display: inline-block;
}

.content .metadata .item.date
{
    color: $metadata-date-color;
    text-decoration: underline;
}

.content h1.title
{
    margin-bottom: $unit-quarter;
    font-weight: 700;
}

.content h1.title a:link,
.content h1.title a:active,
.content h1.title a:visited,
.content h1.title a:hover
{
    color: #000;
    text-decoration: none;
}

.content h1,
.content h2, 
.content h3,
.content h4,
.content h5,
.content h6
{
    color: $header-color;
    font-weight: 700;
}


.content h1 
{ 
    font-size: $h1-font-size; 
    margin-bottom: $unit-quarter;
}

.content h2 
{ 
    //border-bottom: 1px solid $h2-line-color;
    font-size: $h2-font-size; 
    margin-top: $unit-two;
    margin-bottom: $unit-quarter;
}

.content h3 
{ 
    font-size: $h3-font-size;
    font-weight: 400;
    margin-top: $unit-one;
    margin-bottom: $unit-quarter;
}

.content h4 
{ 
    font-size: $h4-font-size; 
    font-weight: 400;
    margin-top: $unit-one;
    margin-bottom: $unit-quarter;
}

.content h5 
{ 
    font-size: $h5-font-size; 
    font-weight: 400;
    margin-top: $unit-one;
    margin-bottom: $unit-quarter;
}

.content h6 
{ 
    font-size: $h6-font-size; 
    font-weight: 400;
    margin-top: $unit-one;
    margin-bottom: $unit-quarter;
}

.content h1 + h2 { margin-top: $unit-one; }
.content h2 + h3 { margin-top: $unit-half; }
.content h3 + h4 { margin-top: $unit-half; }

.content h1 + p,
.content h2 + p,
.content h3 + p,
.content h4 + p,
.content h5 + p,
.content h6 + p
{
    margin-top: 0;
}

.content p
{
    margin-bottom: $unit-one;
}

.content a:link,
.content a:active,
.content a:visited
{
    color: $link-base;
    text-decoration: underline;
}

.content a:hover
{
    color: $link-hover;
}

.content ul, ol
{
    padding-left: $left-spacing;
    margin-bottom: $unit-one;
}

.content ul li,
.content ol li
{
    margin-bottom: $unit-quarter;
}

.content dl
{
    margin-bottom: $unit-one
}

.content dl dt
{
    font-weight: 700;
}

.content dl dd + dt
{
    margin-top: $unit-half;
}

.content dl dd
{
    margin-left: $left-spacing;
}

.content ul.featured
{
    list-style: none;
    padding-left: 0px;

    margin-top: $unit-two;
    margin-bottom: $unit-two;
}

.content ul.docs-by-group
{
    list-style: none;
    padding-left: 0px;
}

.content blockquote
{
    font-style: italic;

    border-left: 3px solid #d2d2d2;

    padding-left: $left-spacing;
    padding-right: $left-spacing;

    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: $unit-one;
}

.content blockquote cite
{
    display: block;
    text-align: right;
    margin-top: $unit-quarter;
}

.content blockquote cite::before
{
    content: "- "
}

.content figure
{
    margin-bottom: $unit-one;
}

.content figure figcaption
{
    color: $figcaption-color;
    text-align: center;
}

.content table.standard-table
{
    border: 1px solid #cecece;
    border-spacing: 0px;
    text-align: left;
    margin-bottom: $unit-one;
    width: 100%;
}

.content table.standard-table thead
{
    background-color: #ececec;
}

.content table.standard-table th,
.content table.standard-table td
{
    padding: 5px;
    border: 1px solid #ececec;

}

.content table.tracker
{
    border-spacing: 0px;
    text-align: left;
    width: 100%;
}

.content table.tracker thead
{
    background-color: #e8e8e8;
}

.content table.tracker th,
.content table.tracker td
{
    border: 1px solid #dfdfdf;
    padding-left: 5px;
}

@media (max-width: 991.98px) and (min-width: 768px)
{
    .container
    {
        padding-left: 100px;
        padding-right: 100px;
    }
}

