/**
 * A banner is a special type of breakout which is used to display an
 * image that is the full width of the browser window.
 *
 * Liquid Usage:
 *
 *    {%  banner [url or image path] [additional classes] %}
 *
 *
 * Additional Classes:
 *
 *    .uncollapsible - Makes the banner image invisible when the layout collapses.
 *
 */

.breakout.banner p img
{
  width: 100%;
}

.breakout.banner.outline p img
{
  border-top: 1px solid #6d6d6d;
  border-bottom: 1px solid #6d6d6d;
}

.breakout.banner.uncollapsible
{
  visibility: visible;
}

@media (max-width: 1199.98px) 
{
  .breakout.banner.uncollapsible
  {
    visibility: hidden;

    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
  }
}