$metadata-font-size: 0.75em;

.metadata-wrapper 
{
  font-size: $metadata-font-size;
  font-family: $sans-serif-font;
  margin-bottom: 30px;
  position: absolute;
  right: -90px; 
  width: calc(100% + 60px);
  padding-top: 12px;
  z-index: 100;
}

.metadata-wrapper .metadata-header
{
  color: #7d7d7d;
  border-bottom: 1px dotted #a2a2a2;
}

.metadata-wrapper .metadata
{
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-color: #d63434 #f1f1f1;
  scrollbar-width: thin;
}

.metadata-wrapper .metadata .metadata-series
{
  color: $metadata-text-color;
  margin-bottom: 15px;
}

.metadata-wrapper .metadata .metadata-series a:link,
.metadata-wrapper .metadata .metadata-series a:active,
.metadata-wrapper .metadata .metadata-series a:visited
{
  color: $metadata-series-color;
}

.metadata-wrapper .metadata .metadata-series a:hover
{
  color: $metadata-series-hover;
}


.metadata-wrapper .metadata ul.metadata-categories
{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 15px;
}


.metadata-wrapper .metadata ul.metadata-categories li
{
  display: inline-block;
  padding-right: 15px;
}

.metadata-wrapper .metadata ul.metadata-categories li.category-header
{
  color: $metadata-text-color;
  padding-right: 0px;
}


.metadata-wrapper .metadata ul.metadata-categories li a:link,
.metadata-wrapper .metadata ul.metadata-categories li a:active,
.metadata-wrapper .metadata ul.metadata-categories li a:visited
{
  color: $metadata-category-color;
}

.metadata-wrapper .metadata ul.metadata-categories li a:hover
{
  color: $metadata-category-hover;
}

/* width */
.metadata-wrapper .metadata::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
.metadata-wrapper .metadata::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.metadata-wrapper .metadata::-webkit-scrollbar-thumb,
.metadata-wrapper .metadata::-webkit-scrollbar-thumb:hover
{
  background: #d5d5d5; 
}

.metadata-wrapper .metadata.grow
{
  overflow-y: visible;
  max-height: 100%;
}

/* width */
.metadata-wrapper .metadata.grow::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
.metadata-wrapper .metadata.grow::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.metadata-wrapper .metadata.grow::-webkit-scrollbar-thumb,
.metadata-wrapper .metadata.grow::-webkit-scrollbar-thumb:hover
{
  background: #d5d5d5; 
}

.metadata-wrapper ul.metadata-related-links
{
  list-style: none;
  padding-left: 0px;

}

.metadata-wrapper ul.metadata-related-links li
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.metadata-wrapper ul.metadata-related-links li a:link,
.metadata-wrapper ul.metadata-related-links li a:active,
.metadata-wrapper ul.metadata-related-links li a:visited
{
  color: $link-color;
}

.metadata-wrapper ul.metadata-related-links li a:hover
{
  color: $link-hover;
}

@media (max-width: 1199.98px) 
{

  .metadata-wrapper
  {
    position: relative;
    left: 0px;
    width: 100%;
  }

  .metadata-wrapper .metadata
  {
    max-height: 300px;
    padding: 0px 0px 15px 0px;
  }
}