$toc-header-color: #a2a2a2;
$toc-header-hover-color: #c71212;

$toc-item-color: #a2a2a2;
$toc-item-hover-color: #c71212;

.toc-wrapper 
{
  counter-reset: toc-prefix;

  font-family: $sans-serif-font;
  position: absolute;

  padding-top: 12px;
  margin-bottom: 30px;

  left: -120px;
  width: calc(100% + 90px);
}

.toc-wrapper .header
{
  color: $toc-header-color;
  font-weight: 700;
}

.toc-wrapper .header a:link,
.toc-wrapper .header a:active,
.toc-wrapper .header a:visited
{
  color: $toc-header-color;
  text-decoration: none;
}

.toc-wrapper .header a:hover
{
  color: $toc-header-hover-color;
  text-decoration: none;
}

.toc-wrapper .toc
{
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-color: #d63434 #f1f1f1;
  scrollbar-width: thin;
}

/* width */
.toc-wrapper .toc::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
.toc-wrapper .toc::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.toc-wrapper .toc::-webkit-scrollbar-thumb,
.toc-wrapper .toc::-webkit-scrollbar-thumb:hover
{
  background: #d5d5d5; 
}

.toc-wrapper .toc.grow
{
  overflow-y: visible;
  max-height: 100%;
}

/* width */
.toc-wrapper .toc.grow::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
.toc-wrapper .toc.grow::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.toc-wrapper .toc.grow::-webkit-scrollbar-thumb,
.toc-wrapper .toc.grow::-webkit-scrollbar-thumb:hover
{
  background: #d5d5d5; 
}

.toc-wrapper .toc ul
{
  font-size: 0.75em;
  line-height: 2em;
  list-style: none;

  padding: 0px;
  margin: 0px;
}

.toc-wrapper .toc ul li {  }

.toc-wrapper .toc ul li a:link,
.toc-wrapper .toc ul li a:active,
.toc-wrapper .toc ul li a:visited
{
  color: $toc-item-color;
  text-decoration: none;

  display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: 0.15em;     
  margin: -0.15em; 
}

.toc-wrapper .toc ul li a:hover
{
  color: $toc-item-hover-color;
}

.toc-wrapper .toc ul li.depth-h1 { padding-left: 0px; font-weight: 700; }
.toc-wrapper .toc ul li.depth-h2 { padding-left: 0px; font-weight: 700; }
.toc-wrapper .toc ul li.depth-h3 { padding-left: 15px; }
.toc-wrapper .toc ul li.depth-h4 { padding-left: 15px; font-style: italic; }
.toc-wrapper .toc ul li.depth-h5 { padding-left: 15px; font-style: italic; }
.toc-wrapper .toc ul li.depth-h6 { padding-left: 15px; font-style: italic; }


@media (max-width: 1199.98px) 
{

  .toc-wrapper 
  {
    position: relative;
    left: 0px;
    width: 100%;
  }

  .toc-wrapper .toc
  {
    max-height: 300px;
    padding: 0px 0px 15px 0px;
  }

  .toc-wrapper .text
  {
    width: 0px;
    height: 0px;
    
    padding: 0px;
    margin: 0px;

    visibility: hidden;
  }
}