$baseline-font-size: 16px;
$baseline-line-height: 1.61803rem;

$serif-ff: 'Noto Sans',Arial,Helvetica Neue,Helvetica,sans-serif;
// $serif-ff: Georgia,Arial,Helvetica Neue,Helvetica,serif;
$sans-serif-ff: Arial,Helvetica Neue,Helvetica,sans-serif;

$unit-one: 1.61803rem;
$unit-quarter: $unit-one * 0.25;
$unit-half: $unit-one * 0.5;
$unit-one-half: $unit-one * 1.5;
$unit-two: $unit-one * 2;
$unit-two-half: $unit-one * 2.5;
$unit-three: $unit-one * 3;
$unit-three-half: $unit-one * 3.5;
$unit-four: $unit-one * 4;
$unit-four-half: $unit-one * 4.5;
$unit-five: $unit-one * 5;
$unit-five-half: $unit-one * 5.5;
$unit-six: $unit-one * 6;
$unit-six-half: $unit-one * 6.5;
$unit-seven: $unit-one * 7;
$unit-seven-half: $unit-one * 7.5;
$unit-eight: $unit-one * 8;
$unit-eight-half: $unit-one * 8.5;
$unit-nine: $unit-one * 9;
$unit-nine-half: $unit-one * 9.5;
$unit-ten: $unit-one * 10;
