.header-wrapper
{
  font-size: 5em;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
  text-align: center;
  line-height: 1em;

  margin-top: 50px;
}

.header-wrapper a:link,
.header-wrapper a:active,
.header-wrapper a:visited,
.header-wrapper a:hover
{
  color: $header-color;
  text-decoration: none;
}


@media (max-width: 991.98px)
{
  .header-wrapper
  {
    text-align: center;
    margin-left: 0px;
  }
}