$nav-color: #929292;
$nav-hover: #0d54c1;

.header-wrapper
{
  /* border-bottom: 1px solid #dadada; */
  padding-top: $unit-one;
  padding-bottom: $unit-half;
  margin-bottom: $unit-two;
}

.header
{
  max-width: $max-container-width;

  width: auto;
  height: auto;

  padding-left: 10px;
  padding-right: 10px;

  margin-left: auto;
  margin-right: auto;
}

.header .brand
{
  display: inline-block;
  font-size: 1rem;
  border-right: 1px solid #000;
  padding-right: 10px;
}

.header .brand a:link,
.header .brand a:active,
.header .brand a:visited,
.header .brand a:hover
{
  color: #000;
  text-decoration: none;
}

.header nav
{
  display: inline-block;
  text-align: right;
  padding-left: 7px;
}

.header nav ul
{
  list-style: none;
  padding-left: 0rem;
}

.header nav ul li
{
  display: inline-block;
  padding-right: 10px;
}

.header nav ul li a:link,
.header nav ul li a:active,
.header nav ul li a:visited
{
  color: $nav-color;
  text-decoration: none;
}

.header nav ul li a:hover
{
  color: $nav-hover;
}

@media (max-width: 768px) 
{
  .header
  {
    text-align: left;
  }

  .header .brand
  {
    display: block;
    font-size: 1.25rem;
    
    border-right: none;
    padding-right: 0;
  }
  
  .header nav
  {
    display: block;
    text-align: left;
    padding-left: 0;
  }
}