.post-wrapper .body ul
{
  font-size: 1em;
  line-height: 1.3em;
}

.post-wrapper .body ul li
{
  padding-bottom: 30px;
}

.post-wrapper .body ul li:last-child
{
  padding-bottom: 30px;
}

/* ===== Key Points Unordered List Styles ===== */
.post-wrapper .body ul.key-points
{
  list-style: none;
  padding-left: 0px;
}

.post-wrapper .body ul.key-points li
{
  border-left: 3px solid #0bb10b;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 30px;
}


/* ===== General Ordered List Styles ===== */
.post-wrapper .body ol
{
  font-size: 1em;
  list-style-position: inside;
  padding-left: 20px;
}

.post-wrapper .body ol li
{
  margin-bottom: 30px;
}

.post-wrapper .body ol li:last-child
{
  margin-bottom: 30px;
}

/* ===== Lowercase Alphabet Ordered List Styles ===== */
.post-wrapper .body ol.alpha 
{
  counter-reset: ol-alpha-counter;
  list-style: none;
}

.post-wrapper .body ol.alpha li::before
{
  counter-increment: ol-alpha-counter;
  content: "(" counter(ol-alpha-counter, lower-alpha) ")";

  font-weight: 700;
  padding-right: 10px;
}

/* ===== Numbered Ordered List Styles ===== */
.post-wrapper .body ol.numbered
{
  list-style: none;
  counter-reset: ol-number-counter;
  padding-left: 0px;
}

.post-wrapper .body ol.numbered li::before
{
  counter-increment: ol-number-counter;
  content: "[" counter(ol-number-counter) "]";

  font-weight: 700;
  padding-right: 10px;
}

/* ===== Bibliography Styles ===== */
