.post-wrapper ul.metadata
{
  display: block;
  list-style: none;
  
  font-size: $metadata-size;

  padding: 0px 0px 0px 0.5px;
  margin: 0px 0px 0px 0px;
}

.post-wrapper ul.metadata li
{
  display: inline-block;
  margin-bottom: 15px;
  padding-right: 10px;
}

.post-wrapper ul.metadata li.info { color: $metadata-info-color; }

.post-wrapper ul.metadata li.category { }

.post-wrapper ul.metadata li a:link,
.post-wrapper ul.metadata li a:active,
.post-wrapper ul.metadata li a:visited
{
  color: $metadata-link-color;
  text-decoration: none;
}

.post-wrapper ul.metadata li.category a:hover
{
  color: $metadata-link-hover;
  text-decoration: none;
}