.contraster-start-marker,
.contraster-end-marker,
{
  width: 0px;
  height: 0px;
  
  padding: 0px;
  margin: 0px;

  visibility: hidden;
}

.contraster-start-marker { padding-top: 120px; }
.contraster-end-marker { padding-bottom: 120px; }

.contraster-start-marker.spacing-60 { padding-top: 60px; }
.contraster-end-marker.spacing-60 { padding-bottom: 60px; }

.contraster-start-marker.spacing-120 { padding-top: 120px; }
.contraster-end-marker.spacing-120 { padding-bottom: 120px; }

.contraster
{
  position: absolute;
  width: 100vw;
  max-width: 100%;
  z-index: 0;
}