.post-wrapper
{
  margin-top: $wrapper-top-margin;
}

.trailing
{
  margin-top: 120px;
}

.post-wrapper h1.title
{
  font-size: $h1-size;
  font-weight: 700;
  font-family: $sans-serif-stack;

  margin-bottom: 5px;
}

.post-wrapper span.title-arrow
{
  font-size: 0.4em;
  color: $link-color;
  vertical-align: middle;
}

.post-wrapper span.title-arrow:hover
{
  color: $link-hover;
}

.post-wrapper h1.title a:link,
.post-wrapper h1.title a:active,
.post-wrapper h1.title a:visited
{
  color: $title-link-color;
  text-decoration: none;
}

.post-wrapper h1.title a:hover
{
  color: $title-link-hover;
  text-decoration: none;
}

.post-wrapper ul.metadata
{
  display: block;
  list-style: none;
  
  font-size: 1.6em;
  font-family: $sans-serif-stack;

  padding: 0px;
  margin: 0px;
}

.post-wrapper ul.metadata li
{
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 10px;
}

.post-wrapper ul.metadata li.info { color: $metadata-info-color; }

.post-wrapper ul.metadata li.category { }

.post-wrapper ul.metadata li a:link,
.post-wrapper ul.metadata li a:active,
.post-wrapper ul.metadata li a:visited
{
  color: $metadata-link-color;
  text-decoration: none;
}

.post-wrapper ul.metadata li.category a:hover
{
  color: $metadata-link-hover;
  text-decoration: none;
}

.post-wrapper .body p
{
  font-size: $font-size;
  line-height: $line-height;
  margin-bottom: 20px;
}

.post-wrapper .body a:link,
.post-wrapper .body a:active,
.post-wrapper .body a:visited
{
  color: $link-color;
}

.post-wrapper .body a:hover
{
  color: $link-hover;
}

.post-wrapper .body h1,
.post-wrapper .body h2,
.post-wrapper .body h3,
.post-wrapper .body h4,
.post-wrapper .body h5,
.post-wrapper .body h6
{
  font-family: $sans-serif-stack;
}

.post-wrapper .body h1,
.post-wrapper .body h2,
.post-wrapper .body h3,
.post-wrapper .body h4,
.post-wrapper .body h5,
.post-wrapper .body h6
{
  font-weight: 700;
}

.post-wrapper .body h1 { font-size: $h1-size; }

.post-wrapper .body h2 { font-size: $h2-size; margin-top: 60px; }

.post-wrapper .body h3 { font-size: $h3-size; margin-top: 40px; }

.post-wrapper .body h4 { font-size: $h4-size; }

.post-wrapper .body h5 { font-size: $h5-size; }

.post-wrapper .body h6 { font-size: $h6-size; }

.post-wrapper .body blockquote
{
  font-style: italic;
  padding-left: $body-elem-left-pad;
}

.post-wrapper .body a.citation
{
  font-size: 0.8em;
}

.post-wrapper .body sup::before
{
  color: $link-color;
  content: "[";
}

.post-wrapper .body sup::after
{
  color: $link-color;
  content: "]";
}

.post-wrapper .body ul
{
  font-size: 1.8em;
  padding-left: $body-elem-left-pad;
}

.post-wrapper .body ul li
{
  padding-bottom: 30px;
}

.post-wrapper .body ul li:last-child
{
  padding-bottom: 20px;
}

.post-wrapper .body ol
{
  font-size: 1.8rem;
  list-style-position: inside;
  padding-left: $body-elem-left-pad;
}

.post-wrapper .body ol li
{
  margin-bottom: 30px;
}

.post-wrapper .body ol.alpha 
{
  counter-reset: ol-alpha-counter;
  list-style: none;
}

.post-wrapper .body ol.alpha li::before
{
  counter-increment: ol-alpha-counter;
  content: "(" counter(ol-alpha-counter, lower-alpha) ")";

  font-weight: 700;
  padding-right: 10px;
}

.post-wrapper .body ol.numbered
{
  list-style: none;
  counter-reset: ol-number-counter;
  padding-left: 0px;
}

.post-wrapper .body ol.numbered li::before
{
  counter-increment: ol-number-counter;
  content: "[" counter(ol-number-counter) "]";

  font-weight: 700;
  padding-right: 10px;
}

.post-wrapper .body ol.bibliography 
{
  border-top: 1px dotted #000;
  line-height: 1.3em;

  padding-left: 0px;
  padding-top: 20px;
}


.post-wrapper .body ol li:last-child,
.post-wrapper .body ol.numbered li:last-child,
.post-wrapper .body ol.bibliography li:last-child
{
  margin-bottom: 20px;
}

.post-wrapper .body .footnotes
{
  border-top: 1px dotted #000;
  padding-top: 30px;
}

.post-wrapper .body .footnotes ol
{
  counter-reset: ol-footnote-counter;
  list-style: none;
  padding-left: 0px;
}

.post-wrapper .body .footnotes ol li
{
  margin-bottom: 30px;
}

.post-wrapper .body .footnotes ol li p::before
{
  counter-increment: ol-footnote-counter;
  content: "[" counter(ol-footnote-counter) "]:";
  
  font-weight: 700;
  padding-right: 10px;
}

.post-wrapper .body .footnotes ol li p
{
  font-size: 1.0em;
  margin-bottom: 0px;
}
