
.sn-row
{
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  top: 0px;
  left: 0px;
}

.sn-col-left
{
  display: flex;
  position: absolute;
  
  flex: 0 0 calc((100vw - (1176px / 2)) / 2);
  flex-direction: column;

  height: auto;
  width: 100%;
  
  max-width: calc((100vw - (1176px / 2)) / 2);

  top: 580px;

  padding: 10px 40px 10px 20px;
}

.sn-col-right
{
  display: flex;
  position: absolute;

  flex: 0 0 calc((100vw - (1176px / 2)) / 2);
  flex-direction: column;

  height: auto;
  width: 100%;

  max-width: calc((100vw - (1176px / 2)) / 2);

  top: 0px;
  right: 0px;

  padding: 10px 20px 10px 40px;
}

.sn-col-left .sidenote,
.sn-col-right .sidenote
{
  display: block;
  font-size: 0.85em;

  width: auto;
  max-width: 580px;

  margin-bottom: 10px;
}

.sn-col-left .sidenote
{
  margin-left: auto;
}

.sn-col-right .sidenote
{
  margin-right: auto;
}

.sn-marker-left,
.sn-marker-right
{
  visibility: hidden;

  width: 0px;
  height: 0px;

  margin: 0px;
  padding: 0px;
}


.sn-marker-left.center,
.sn-marker-right.center,
.sn-col-left .sidenote.center,
.sn-col-left .sidenote.center
{
  text-align: center;
}

@media (max-width: 1199.98px) 
{
  .sn-row
  {
    visibility: hidden;

    width: 0px;
    height: 0px;

    margin: 0px;
    padding: 0px;
  }

  .sn-marker-left.collapsible,
  .sn-marker-right.collapsible
  {
    visibility: visible;

    height: auto;
    width: auto;
  }
}