.breakout.banner p img
{
  width: 100%;
}

.breakout.banner.outline p img
{
  border-top: 1px solid #6d6d6d;
  border-bottom: 1px solid #6d6d6d;
}

.breakout.banner.uncollapsible
{
  visibility: visible;
}

@media (max-width: 1199.98px) 
{
  .breakout.banner.uncollapsible
  {
    visibility: hidden;

    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
  }
}