.pinned-wrapper
{
  margin-bottom: 120px;
}

.feed-wrapper
{
  border-bottom: 1px dotted #a2a2a2;
  margin-bottom: 60px;
}

.feed-wrapper.pinned
{
  border-bottom: 1px dotted #a95555;
}

.feed-wrapper .feed-date
{
  color: #a2a2a2;
  font-family: $sans-serif-font;
  font-size: $font-size;
  margin-bottom: 15px;
}

.feed-wrapper .feed-date a:link,
.feed-wrapper .feed-date a:active,
.feed-wrapper .feed-date a:visited
{
  color: #a2a2a2;
}

.feed-wrapper .feed-date a:hover
{
  color: $link-color;
}


.feed-wrapper.pinned .feed-date a:link,
.feed-wrapper.pinned .feed-date a:active,
.feed-wrapper.pinned .feed-date a:visited
{
  color: $link-color;
  font-weight: 700;
}


.feed-wrapper.pinned .feed-date a:hover
{
  color: $link-hover;
}

.feed-pinned-wrapper
{
  font-size: $font-size;
  font-family: $sans-serif-font;
  margin-bottom: 30px;
  position: absolute;
  right: -90px; 
  width: calc(100% + 60px);
  padding-top: 12px;
  z-index: 100;
}

.feed-pinned-wrapper .pinned-title
{
  font-family: $sans-serif-font;
  font-size: 1em;

  color: #a2a2a2;
}

.feed-pinned-wrapper ul.pinned-list
{
  list-style: none;
  font-size: $font-size;
  padding-left: 0px;
}

.feed-pinned-wrapper ul.pinned-list li a:link,
.feed-pinned-wrapper ul.pinned-list li a:active,
.feed-pinned-wrapper ul.pinned-list li a:visited
{
  color: $link-color;
}

.feed-pinned-wrapper ul.pinned-list li a:hover
{
  color: $link-hover;
}


@media (max-width: 1199.98px) 
{

  .feed-pinned-wrapper
  {
    position: relative;
    left: 0px;
    width: 100%;
  }

}