.post-wrapper {  }

.trailing
{
  margin-top: 120px;
}

.post-wrapper .body h1,
.post-wrapper .body h2,
.post-wrapper .body h3,
.post-wrapper .body h4,
.post-wrapper .body h5,
.post-wrapper .body h6
{
  font-family: $header-font;
  font-weight: 700;
  margin-bottom: 15px;
}

.post-wrapper .body h1 { font-size: $h1-size; }

.post-wrapper .body h2 { font-size: $h2-size; margin-top: 150px; }

.post-wrapper .body h3 { font-size: $h3-size; margin-top: 120px; }

.post-wrapper .body h4 { font-size: $h4-size; }

.post-wrapper .body h5 { font-size: $h5-size; }

.post-wrapper .body h6 { font-size: $h6-size; }

.post-wrapper .body p
{
  font-size: $font-size;
  line-height: $line-height;
  margin-bottom: $body-elem-bottom-margin;
  letter-spacing: .1px;
}

.post-wrapper .body a:link,
.post-wrapper .body a:active,
.post-wrapper .body a:visited
{
  color: $link-color;
  text-decoration: underline;
}

.post-wrapper .body a:hover
{
  color: $link-hover;
}

.post-wrapper .body img
{
  margin-bottom: 30px;
  margin-top: 30px;
}