.feed-submit-wrapper
{
    font-family: $sans-serif-font;
    margin-top: 15px;
}

.feed-submit-wrapper textarea
{
    border: none;
    border-bottom: 1px solid #d4d4d4;

    font-size: $font-size;

    width: 100%;
    height: 350px;

    padding: 20px;
}

/* width */
.feed-submit-wrapper textarea::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  .feed-submit-wrapper textarea::-webkit-scrollbar-track {
    background: #fff; 
  }
  
  /* Handle */
  .feed-submit-wrapper textarea::-webkit-scrollbar-thumb,
  .feed-submit-wrapper textarea::-webkit-scrollbar-thumb:hover
  {
    background: #a2a2a2; 
  }

.feed-submit-wrapper textarea,
.feed-submit-wrapper select, 
.feed-submit-wrapper input, 
.feed-submit-wrapper button 
{   
    outline: none; 
}

.feed-submit-wrapper .centered-button-holder
{
    margin-top: 15px;
    text-align: center;
}

.feed-submit-wrapper .centered-button-holder input
{
    font-size: $font-size;
}
