html, body
{
    font-size: $pixel-size;
    font-family: $body-font;
    line-height: $line-height;

    color: $body-text-color;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0px;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}
