.footer-wrapper
{
  font-size: $footer-size;
  font-weight: 500;
  text-align: center;
}

.footer-wrapper footer
{
  padding-bottom: 15px;
}

.footer-wrapper a:link,
.footer-wrapper a:active,
.footer-wrapper a:visited
{
  color: $link-color;
}

.footer-wrapper a:hover
{
  color: $link-hover;
}