$global-font-size: 16px;
$global-line-height: 1.6rem;

$global-max-width: 960px;

$global-roundness: 10px;

$global-body-font-family: "Inter",Arial,Helvetica Neue,Helvetica,sans-serif; 
$global-header-font-family: "Montserrat",Arial,Helvetica Neue,Helvetica,sans-serif; 

$color-text: #000;
$color-grey: #686868;
$color-light-grey: #d4d4d4;
$color-very-light-grey: #efefef;
$color-bg: #ffffff;
$color-link: #1f53ff;
$color-link-hover: #c3c5ff;

$color-table-odd: #ffffff;
$color-table-even:  #ffffff;

$color-accent: #787cff;