.portfolio-page-image {
  border-bottom: 1px solid $color-light-grey;

  width: 100%;
  height: 200px;

  background-repeat: no-repeat;
  background-size: cover;;

}

.portfolio-page .portfolio-metadata {
  border-bottom: 1px solid $color-light-grey;
}

.portfolio-page .pitch {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

.portfolio-page h1 {
  border-bottom: 1px solid $color-light-grey;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.portfolio-page h2 {
  margin-top: 8rem;
}

.portfolio-page img {
  width: 100%;
}

.portfolio-page .skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}


.portfolio-page .skills .skills-header {
  font-weight: 700;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.portfolio-page .skills .skill {
  border-radius: $global-roundness;
  border: 1px solid $color-light-grey;
  background-color: $color-light-grey;

  font-size: 0.75rem;

  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.1rem 0.5rem;
  
  transition: scale 50ms ease-in-out, background-color 50ms ease-in-out;
}

.portfolio-page .skills .skill:hover {
  background-color: $color-accent;
  scale: 1.1;
}

.portfolio-page .outbound-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

.portfolio-page .outbound-links .square {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;

  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  border-radius: $global-roundness;
  border: 1px solid $color-light-grey;
  background-color: #f8f8f8;

  height: 150px;
  margin-bottom: 1rem;

  transition: transform 0.2s, box-shadow 0.2s;
}

.portfolio-page .outbound-links .square:hover {
  opacity: 0.5;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.portfolio-page .outbound-links a.square .kaggle,
.portfolio-page .outbound-links a.square .github {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60%;
  width: 60%;
}

.portfolio-page .outbound-links a.square .kaggle {
  background-image: url(/images/socials/kaggle_large.webp);
}

.portfolio-page .outbound-links a.square .github {
  background-image: url(/images/socials/github_large.webp);
}

.portfolio-page .markdown-content a.image-link {
  display: block;
  margin-bottom: 1rem;
}

.portfolio-page .markdown-content img {
  border-radius: $global-roundness;
  border: 1px solid $color-light-grey;
  padding: 2rem;
  box-sizing: border-box;
}

.portfolio-page .markdown-content h2 {
  border-bottom: 1px solid $color-light-grey;
}

.portfolio-page .markdown-content ol li,
.portfolio-page .markdown-content ul li {
  margin-bottom: 0.5rem;
}