---
---

$pixel-size: 10px;
$font-size: 2.4em;
$line-height: 1.6em;

$sans-serif-stack: 'Open Sans', sans-serif;
$serif-stack: 'Crimson Text', serif;

$h1-size: 3.0em;
$h2-size: 2.25em;
$h3-size: 2.0em;
$h4-size: 1.6em;
$h5-size: 1.4em;
$h6-size: 1em;

$header-color: #000;

$title-link-color: #000;
$title-link-hover: #000;

$nav-color: #a9a9a9;
$nav-hover: #d80000;

$link-color: #d80000;
$link-hover: #840000;

$metadata-info-color: #4e4e4e;

$metadata-link-color: #d80000;
$metadata-link-hover: #840000;

$blockquote-color: #3e3e3e;
$blockquote-border: #d80000;

$wrapper-top-margin: 50px;
$body-elem-left-pad: 20px;
$body-elem-bottom-margin: 30px;

@import "bootstrap";
@import "normalize";
@import "highlight";

@import "html";
@import "util";

@import "header";
@import "nav";
@import "sidebar";
@import "footer";

@import "post";
@import "category";
@import "author";
