---
layout: default
---
<div class="col-xl-3"> {% include toc.html %} </div>

<div class="col-xl-7">
  <article class="post-wrapper">
    <h1 class="title" class="title">Archive</h1>
    <div class="body">
      <h2 id="posts" style="margin-top: 30px;">Posts</h2>
      {% include archive/list-posts.html %}

      <h2 id="archive ">Series</h2>
      {% include archive/list-series.html %}

      <h2 id="categories">Categories</h2>
      {% include archive/list-categories.html %}

      <h2 id="feed">Feed</h2>
      {% include archive/list-feed.html %}

    </div>
    </article> 
</div>

<div class="col-xl-2"></div>  