---
layout: default
---

{% include header.html %}

<div class="container">
  <div class="content-wrapper">
    {% for post in site.posts %}
    <div class="post-wrapper">    
      <h1 class="title">{{ post.title }}</h1>
      <div class="metadata">
        <div class="date">{% if post.updated %}{{ post.updated | date: "%B %d, %Y"}}{% else %}{{ post.date | date: "%B %d, %Y"}}{% endif %}</div>
        {% assign category_size = post.categories | size %}
        <div class="primary-category">{% if category_size > 0 %}<a href="/categories/{{ post.categories[0] | downcase | replace: ' ', '-' }}">[{{ post.categories[0] }}]</a>{% endif %}</div>
        <div class="secondary-category">{% if category_size > 1 %}<a href="/categories/{{ post.categories[1] | downcase | replace: ' ', '-' }}">[{{ post.categories[1] }}]</a>{% endif %}</div>
      </div>
      {{ post.content }}

    </div>
    {% endfor %}
  </div>
</div>

{% include footer.html %}
