<!DOCTYPE html>
<html>
<head>

  {% capture page_title %} {{ page.title }} {% endcapture %}
  {% assign custom_title = page_title %}
  {% assign custom_description = page.description %}
    
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  <title>{{ page.title }} | Stephen Czekalski</title>
    
  <meta name="description" content="{{ page.description }}">
  <meta name=”robots” content=”index, follow”>
    
  <link rel=”canonical” href=”https://creamofpotato.com/” />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/base.css">

</head>
<body>

  {{ content }}

</body>
</html>
