---
layout: default
---


{% include header.html %}

<div class="container">
  <div class="content-wrapper">
    <h1 class="title">{{ page.title }}</h1>
    <ul class="weblog-list">
    {% for post in site.posts %}
      {% for cat in post.categories %}
        {% if cat == page.category-name %}
          <li>
            <span class="date">{% if post.updated %}{{ post.updated | date: "%m-%d-%Y"}}{% else %}{{ post.date | date: "%m-%d-%Y"}}{% endif %}:</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
</div>

{% include footer.html %}