---
layout: default
---

{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            {% include sidebar.html %}
        </div>
        <div class="col-lg-5">
            {% for post in site.posts limit: 5 %}
            <div class="content-wrapper">
                <div class="content">
                    <div class="metadata">
                        {% if post.updated != "" %}
                            <div class="item date">Updated: {{ post.updated | date: "%b %d, %Y" }}</div>
                        {% else %}
                            <div class="item date">{{ post.date | date: "%B %d, %Y" }}</div>
                        {% endif %}

                        {% for category in post.categories %}
                            <div class="item category"><a href="/posts">[{{ category }}]</a></div>
                        {% endfor %}
                    </div>

                    <h1 class="title"><a href="{{post.url}}">{{ post.title }}</a></h1>
                    {{ post.content }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include footer.html %}
