---
layout: default
---
{% assign counter = 0 %}
{% for post in site.posts limit: 10 %}
  <article class="post-wrapper {%if counter != 0 %} trailing {% endif %}">
      <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <ul class="metadata">
          <li class="info">
            {% if post.updated %}
              updated by {{ post.author }} on {{ post.updated | date: "%m/%-d/%Y"}}
        
            {% else %}
              published by {{ post.author }} on {{ post.date | date: "%m/%-d/%Y"}}
        
            {% endif %}
          </li>
        
          {% for category in post.categories %} 
            <li class="category"><a href="/categories/{{category}}">[{{ category }}]</a></li>
          {% endfor %}
        </ul>
      <div class="body">{{ post.excerpt }}</div>
  </article>
  {% assign counter = counter | plus: 1 %}
{% endfor %}