---
layout: default
---

{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            {% include sidebar.html %}
        </div>
        <div class="col-lg-5">
            <div class="content-wrapper">
                <div class="content">
                    <div class="metadata">
                        {% if page.updated != "" %}
                            <div class="item date">Updated: {{ page.updated | date: "%b %d, %Y" }}</div>
                        {% else %}
                            <div class="item date">{{ page.date | date: "%B %d, %Y" }}</div>
                        {% endif %}

                        {% for category in page.categories %}
                            <div class="item category"><a href="/posts">[{{ category }}]</a></div>
                        {% endfor %}
                    </div>

                    <h1 class="title">{{ page.title }}</h1>
                    {{ content }}

                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
